body {
    align-content: center;
    background-image: url("https://marketplace.canva.com/MACV9soLIIc/1/thumbnail_large/canva-milky-way%2C-space%2C-universe%2C-night-sky%2C-background-MACV9soLIIc.jpg");
}

html {
    height: 100%;
}

.main {
    height: 80%;
}

container{
    height: 100%;
    max-height: 100%;
}

button {
    width: 240px;
    height: 80px;
    margin: 9% auto 0;
    /* width: 80%; */
    /* height: 20%; */
}

.btn {
    font-size: 1.75em;
}

#weatherBtn {
    color: white;
}

#homeButtons {
    color: white;
    font-weight: bold;
    /* max-width: 80%; */
}

#homeBtn {
    font-weight: 420;
}

a, td, #map {
    color: white;
    font-weight: bold;
}

th {
    color: yellow;
    font-weight: bolder;
}

#map {
    /* max-width: 80%; */
    /* height: 50%; */
    margin: 0 auto;
}